.users-header
  = render partial: 'layouts/header'
.title
  .title__contents
    クレジットカード入力画面

.main-form
  .main-form__frame
    = form_with url: users_path do |f|
      .form-group
        = f.label :カード番号
        %span.form-group__require 必須
        %br
        = f.text_field :card_number, class: 'form-group__input', placeholder:'半角数字のみ'
      .form-group
        = f.label :カード会社
        %span.form-group__require 必須
        %br
        = f.select :card_campany, [["VISA",1],["mastercard",2],["saison",3],["JCB",4],["AMEX",5],["Diners",6]], prompt:"カード会社を選択して下さい", class: 'form-group__input'
        %ul.card-list
          %li.icon-visa
            = image_tag "/Visa.svg", size: "40x30", alt:"visa"
          %li.icon-master
            = image_tag "/Master.svg.png", size: "40x30", alt:"master"
          %li.icon-saison
            = image_tag "/saison.svg.png", size: "40x30", alt:"saison"
          %li.icon-jcb
            = image_tag "/JCB.svg.png", size: "40x30", alt:"JVB"
          %li.icon-amex
          = image_tag "/amex.svg", size: "40x30", alt:"AMEX"
          %li.icon-diners
          = image_tag "/Diners.png", size: "40x30", alt:"diners"
      .form-group
        =f.label :有効期限
        %span.form-group__require 必須
        %br
        = f.select :card_month, options_for_select(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), {}, class: 'form-group__input__one'
        = f.label :月, class: "form-group__card__year-month"
        = f.select :card_year, options_for_select(["20","21","22","23","24","25","26"]), {}, class: 'form-group__input__one'
        = f.label :年, class: "form-group__card__year-month"
      .form-group
        = f.label :セキュリティコード
        %span.form-group__require 必須
        =f.text_field :card_pass, placeholder: "カード背面4桁もしくは3桁の番号", class: "form-group__input"

      .form-group__add
        .form-group__add__question ?
        %p.form-group__text--right--blue
          カードの裏面の番号とは？
      .form-group
        = f.submit "登録する", class: "btn--red", url:"#"

.footer