.header
  = render "layouts/header"
  %nav.bread-crumbs
    %ul
      %li 
        = link_to root_path do
          furima
        = icon('fas','angle-right')
      %li 
        - breadcrumb :items_edit
        = breadcrumbs separator: " &rsaquo; "
.items_new_page
  .items_register_form
    = form_with model: @items, local: true do |form|
      = render "items/error_item", model: form.object
      .form_section.image_register
        = form.label '出品画像'
        %span.form-group__require 必須
        %p 最大10枚まで貼れます。
        .post__drop__box__container
          .prev-content
            - @items.item_imgs.each do |img|
              .preview-box
                .upper-box
                  = image_tag "#{img.url}", width: "112", height: "112", alt: "preview"
                .lower-box
                  .delete-box
                    %span 削除
          .label-content
            = form.label :"item_imgs_attributes_#{@items.item_imgs.length}_url", class: "label-box", id: "label-box--#{@items.item_imgs.length}" do
              %pre.label-box__text-visible クリックしてファイルをアップロード
          .hidden-content
            = form.fields_for :item_imgs do |i|
              = i.file_field :url, class: "hidden-field"
              = i.check_box:_destroy, class: "hidden-checkbox"
            - @items.item_imgs.length.upto(9) do |i|
              %input{name: "item[item_imgs_attributes][#{i}][url]", id: "item_item_imgs_attributes_#{i}_url", class:"hidden-field", type:"file"}
      .form_section.item_register
        = form.label '商品名'
        %span.form-group__require 必須
        = form.text_field :name, placeholder:"40文字まで", class:"item_name_form", value: "#{@items.name}"
        = form.label "商品の説明"
        %span.form-group__require 必須
        = form.text_area :introduction, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", value: @items.introduction, class: "item_info_form"
        .status_register
          .status_register__status_category_group
            .status_register__status_category_group__category
              .status_register__status_category_group__category__register_title
                = form.label 'カテゴリー'
                %span.form-group__require 必須
              .status_register__status_category_group__category__choose
                = form.collection_select :category_id,Category.where(ancestry: nil).limit(13), :id, :name,{prompt: '---', selected: @parent.id}, {id: 'parent_category'}
                .status_register__status_category_group__category__choose__edit1
                  = icon('fa', 'chevron-down', id: 'child_icon')
                  = form.collection_select :category_id,Category.where(ancestry: "#{@parent.id}"), :id, :name,{prompt: '---', selected: @child.id}, {id: 'child_category'}
                .status_register__status_category_group__category__choose__edit2
                  = icon('fa', 'chevron-down', id: 'grandchild_icon')
                  = form.collection_select :category_id,Category.where(ancestry: "#{@parent.id}/#{@child.id}"), :id, :name,{prompt: '---', selected: @grandchild.id}, {id: 'grandchild_category'}
        = form.label "ブランド:任意"
        = form.text_field :brand , placeholder: "例）シャネル", value: "#{@items.brand}"
        = form.label "商品の状態"
        %span.form-group__require 必須
        = form.select :item_condition,Item.item_conditions.keys,{include_blank: "選択してください", selected: @items.item_condition}
      .form_section.send_register
        = form.label '配送料の負担'
        %span.form-group__require 必須
        = form.select :postage_payer,Item.postage_payers.keys,{include_blank: "選択してください", selected: @items.postage_payer}
        = form.label '配送元の地域'
        %span.form-group__require 必須
        = form.select :prefecture_code, Item.prefecture_codes.keys, {include_blank: "選択してください", selected: @items.prefecture_code}
        = form.label '発送までの日数'
        %span.form-group__require 必須
        = form.select :preparation_day,Item.preparation_days.keys,{include_blank: "選択してください", selected: @items.preparation_day}
      .form_section.value_register
        = form.label '販売価格'
        %span.form-group__require 必須
        .value_register_form
          ¥
          = form.number_field :price, class:"value_form", value: @items.price
        .product_price-fee
          販売手数料(10%)
          .right_bar
        .product_profit
          販売利益
          = form.number_field :rieki, style: "display: none", id: "price"
          .right_bar_2

      .form_section.register_btns
        = form.submit "編集完了",class:"exhibition-btn"
      .attentions
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.footer
  = render "layouts/footer"

