.header
  = render "layouts/header"
.items_new_page
  .items_register_form
    = form_with model: @item, local: true do |form|
      .form_section.image_register
        = form.label '出品画像'
        .image_lists
          #image-box-1
            .item-num-0#image-box__container
          %label{for: "img-file"}
            = form.fields_for :item_imgs do |i|
              .image-form
                =i.file_field :image, type: 'file', name: "item[item_imgs_attributes][][url]", value:"", id:"img-file"
                = image_tag ('icon_camera.png')
      .form_section.item_register
        = form.label '商品名'
        = form.text_field :name, placeholder:"40文字まで", class:"item_name_form"
        = form.label "商品の説明"
        = form.text_area :introduction, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", value: "", class: "item_info_form"
      .form_section.status_register
        = form.label 'カテゴリー'
        = form.select :category_id,[ ["レディース",1], ["メンズ", 2], ["ベビー・キッズ", 3 ] ,["インテリア", 4], ["本・音楽・ゲーム", 5], ["おもちゃ・ホビー・グッズ", 6],["コスメ・香水・美容", 7],["家電・スマホ・カメラ", 8],["スポーツ・レジャー", 9],["ハンドメイド", 10],["チケット", 11],["自動車・オートバイ", 12],["その他", 12] ], prompt: "選択してください"
        = form.label "ブランド"
        = form.text_field :brand , placeholder: "例）シャネル"
        = form.label "商品の状態"
        = form.select :item_condition,Item.item_conditions.keys,{include_blank: "選択してください"}
      .form_section.send_register
        = form.label '配送料の負担'
        = form.select :postage_payer,Item.postage_payers.keys,{include_blank: "選択してください"}
        = form.label '配送元の地域'
        = form.select :prefecture_code, Item.prefecture_codes.keys, {include_blank: "選択してください"}
        = form.label '発送までの日数'
        = form.select :preparation_day,Item.preparation_days.keys,{include_blank: "選択してください"}
      .form_section.value_register
        = form.label '販売価格'
        = form.number_field :price, class:"value_form"
      .form_section.register_btns
        = form.submit "出品する"
.footer
  = render "layouts/footer"

