.serch-pcheader
  = render "layouts/header"

.search-productBox
  - @items.each do |item|
    .search-productList
      = link_to item_path(item) do
        %figure.search-productList--img
          - item.item_imgs.each do |img|
            = image_tag "#{img.url}", class: 'search-image__category'
        .search-productList--body
          %h3.search-product--name
            = item.name
          .search-details
            %ul
              %li
                = "#{item.price}円" 
              %li
                %i.fa.fa-star.likeIcon
            %p
              (税込)

    
  